[submodule "cpanpm"]
	path = cpanpm
	url = git://github.com/andk/cpanpm.git
[submodule "dagolden/distroprefs"]
	path = dagolden/distroprefs
	url = https://github.com/dagolden/distroprefs.git
[submodule "eserte/distroprefs"]
	path = eserte/distroprefs
	url = git://github.com/eserte/srezic-cpan-distroprefs.git
[submodule "rurban/distroprefs"]
	path = rurban/distroprefs
	url = https://github.com/rurban/distroprefs.git
[submodule "cpantest-reported/distroprefs"]
	path = cpantest-reported/distroprefs
	url = https://github.com/cpan-testers/cpantest-reported.git
