[submodule "cpanpm"]
	path = cpanpm
	url = git://github.com/andk/cpanpm.git
[submodule "dagolden/distroprefs"]
	path = dagolden/distroprefs
	url = https://github.com/dagolden/distroprefs.git
[submodule "devogon/distroprefs"]
	path = devogon/distroprefs
	url = git://gitorious.org/cpan-distroprefs/cpan-distroprefs.git
